/*fieldset {
/*  padding: 20px 20px 20px 20px;
  width: 80%;
  display: block;
  margin: 0 auto;
  background-color: yellow;
}*/

.task-lists {
  display: none;
}

table {
  display: none;
}

#individual-results {
  display: none;
}
